<div class="container">List of to do
    <input [(ngModel)]="message" name="message"><button (click)="addTodo(message,count)"> + </button>
    <app-todo-list [todo]="todos$ | async"></app-todo-list>
    <span #count class="hide">{{lastId$ | async}}</span>

    <!--<button (click)="test()"> test</button>-->
    <div class="filters">
      <button (click)="showAll()"> all</button>
      <button (click)="Completed()">Completed</button>
      <button (click)="Archived()">Archived</button>
    </div>
</div>
